
    <ul class="project-list">
            <li class="project-item">
                <!-- <small><%= project.id %></small> -->
                <!-- <a href="/projects/project/<%= project._id %>"> -->
                    <h2>
                        Name:-<%= project.name %>
                    </h2>
                <!-- </a> -->
                <p>
                    Description :- <%= project.description %>
                </p>
                <p>
                    Author:- <%= project.author %>
                </p>
            </li>
            <div class="create-issue-icon">
                <i class="ri-add-line"></i>
            </div>
    </ul>
